Django==5.0.*
ber-tlv
python-ldap
crispy-forms-gds
Pillow
python-ldap
pycryptodome~=3.21.0
dacite~=1.8.1
cryptography~=43.0.3
pytz~=2024.2
asn1tools~=0.167.0
niquests~=3.10.3
django-storages
boto3
django-cockroachdb==5.0.*
django-xff
psycopg2-binary
gunicorn
iso3166~=2.1.1
pyjwt~=2.9.0
django-magiclink
BeautifulSoup4~=4.12.3
PyMuPDF~=1.24.13
opencv-python~=4.10.0.84
base26~=1.0.5
xsdata[lxml]~=24.11
google-api-python-client~=2.153.0
bitstring~=4.2.3
numpy~=2.1.2
urllib3~=2.2.3
protobuf~=5.28.3