{% load tz rics %}
<h2 class="govuk-heading-m">VDV Data</h2>
<dl class="govuk-summary-list">
    {% if db_vu.terminal_number %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Terminal Number (BIBE)</dt>
            <dd class="govuk-summary-list__value">{{ db_vu.terminal_number }}</dd>
        </div>
    {% endif %}
    {% if db_vu.sam_number %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">SAM Number</dt>
            <dd class="govuk-summary-list__value">{{ db_vu.sam_number }}</dd>
        </div>
    {% endif %}
    {% if db_vu.traveller_count %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Number of travellers</dt>
            <dd class="govuk-summary-list__value">{{ db_vu.traveller_count }}</dd>
        </div>
    {% endif %}
</dl>
<h3 class="govuk-heading-m">Products</h3>
{% for product in db_vu.products %}
    <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
                Product #{{ forloop.counter }}
            </h2>
        </div>
        <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
                {% if product.product_authorization %}
                    {% with auth=product.product_authorization %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Authorization</dt>
                            <dd class="govuk-summary-list__value">
                                <dl class="govuk-summary-list">
                                    {% if auth.authorization_number %}
                                        <div class="govuk-summary-list__row">
                                            <dt class="govuk-summary-list__key">Number</dt>
                                            <dd class="govuk-summary-list__value">{{ auth.authorization_number }}</dd>
                                        </div>
                                    {% endif %}
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">Issuer ID</dt>
                                        <dd class="govuk-summary-list__value">
                                            <code>{{ auth.issuer_id }}</code>
                                        </dd>
                                    </div>
                                    {% with org_name=auth.issuer %}
                                        {% if org_name %}
                                            <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">Issuer Name</dt>
                                                <dd class="govuk-summary-list__value">
                                                    {{ org_name }}
                                                </dd>
                                            </div>
                                        {% endif %}
                                    {% endwith %}
                                </dl>
                            </dd>
                        </div>
                    {% endwith %}
                {% endif %}
                {% if product.product_details %}
                    {% with details=product.product_details %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Product Details</dt>
                            <dd class="govuk-summary-list__value">
                                <dl class="govuk-summary-list">
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">Product ID</dt>
                                        <dd class="govuk-summary-list__value">
                                            <code>{{ details.product_type_id }}</code>
                                        </dd>
                                    </div>
                                    {% with product_name=details.product_type %}
                                        {% if product_name %}
                                            <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">Product Name</dt>
                                                <dd class="govuk-summary-list__value">{{ product_name }}</dd>
                                            </div>
                                        {% endif %}
                                    {% endwith %}
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">Issuer ID</dt>
                                        <dd class="govuk-summary-list__value">
                                            <code>{{ details.issuer_id }}</code>
                                        </dd>
                                    </div>
                                    {% with org_name=details.issuer %}
                                        {% if org_name %}
                                            <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">Issuer Name</dt>
                                                <dd class="govuk-summary-list__value">
                                                    {{ org_name }}
                                                </dd>
                                            </div>
                                        {% endif %}
                                    {% endwith %}
                                </dl>
                            </dd>
                        </div>
                    {% endwith %}
                {% endif %}
                {% if product.validity_start %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Valid from</dt>
                        <dd class="govuk-summary-list__value">{{ product.validity_start|utc|date:"F d, Y H:i" }}</dd>
                    </div>
                {% endif %}
                {% if product.validity_end %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Valid until</dt>
                        <dd class="govuk-summary-list__value">{{ product.validity_end|utc|date:"F d, Y H:i" }}</dd>
                    </div>
                {% endif %}
                {% if product.cost %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Cost</dt>
                        <dd class="govuk-summary-list__value">{{ product.cost }} EUR</dd>
                    </div>
                {% endif %}
                {% if product.sequence_number %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Sequence Number</dt>
                        <dd class="govuk-summary-list__value">{{ product.sequence_number }}</dd>
                    </div>
                {% endif %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Product Data</dt>
                    <dd class="govuk-summary-list__value">
                        {% include "main/vdv_elements.html" with elements=product.product_data %}
                    </dd>
                </div>
            </dl>
        </div>
    </div>
{% endfor %}

<details class="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">Raw data</span>
    </summary>
    <div class="govuk-details__text">
        <pre>{{ db_vu|pprint }}</pre>
    </div>
</details>