<dl class="govuk-summary-list govuk-summary-list--no-border">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Country code</dt>
        <dd class="govuk-summary-list__value"><code>{{ ref.country_code }}</code></dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Issuer</dt>
        <dd class="govuk-summary-list__value"><code>{{ ref.certificate_issuer }}</code></dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Service indicator</dt>
        <dd class="govuk-summary-list__value">{{ ref.service_indicator_name }}</dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Discretionary data</dt>
        <dd class="govuk-summary-list__value">{{ ref.discretionary_data_name }}</dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Certificate serial</dt>
        <dd class="govuk-summary-list__value">{{ ref.certificate_serial }}</dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Generation year</dt>
        <dd class="govuk-summary-list__value">{{ ref.generation_year }}</dd>
    </div>
</dl>