{% load rsp %}
<h2 class="govuk-heading-m">Ticket Data</h2>
<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Mandatory Manual Check</dt>
        <dd class="govuk-summary-list__value">
            {% if data.mandatory_manual_check %}
                <strong class="govuk-tag govuk-tag--green">Yes</strong>
            {% else %}
                <strong class="govuk-tag govuk-tag--red">No</strong>
            {% endif %}
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Non Revenue Ticket</dt>
        <dd class="govuk-summary-list__value">
            {% if data.non_revenue %}
                <strong class="govuk-tag govuk-tag--green">Yes</strong>
            {% else %}
                <strong class="govuk-tag govuk-tag--red">No</strong>
            {% endif %}
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">RSP Specification Version</dt>
        <dd class="govuk-summary-list__value"><code>{{ data.spec_version }}</code></dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Checksum</dt>
        <dd class="govuk-summary-list__value"><code>{{ data.checksum }}</code></dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Barcode Version</dt>
        <dd class="govuk-summary-list__value"><code>{{ data.barcode_version }}</code></dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Reference</dt>
        <dd class="govuk-summary-list__value"><code>{{ data.ticket_reference }}</code></dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Child ticket</dt>
        <dd class="govuk-summary-list__value">
            {% if data.child_ticket %}
                <strong class="govuk-tag govuk-tag--green">Yes</strong>
            {% else %}
                <strong class="govuk-tag govuk-tag--red">No</strong>
            {% endif %}
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Standard class</dt>
        <dd class="govuk-summary-list__value">
            {% if data.standard_class %}
                <strong class="govuk-tag govuk-tag--green">Yes</strong>
            {% else %}
                <strong class="govuk-tag govuk-tag--red">No</strong>
            {% endif %}
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Return included</dt>
        <dd class="govuk-summary-list__value">
            {% if data.bidirectional %}
                <strong class="govuk-tag govuk-tag--green">Yes</strong>
            {% else %}
                <strong class="govuk-tag govuk-tag--red">No</strong>
            {% endif %}
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Lennon ticket type</dt>
        <dd class="govuk-summary-list__value"><code>{{ data.lennon_ticket_type }}</code></dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Origin</dt>
        <dd class="govuk-summary-list__value">
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">NLC</dt>
                    <dd class="govuk-summary-list__value"><code>{{ data.origin_nlc }}</code></dd>
                </div>
                {% with station=data.origin_nlc|rsp_station_nlc %}
                    {% if station %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Name</dt>
                            <dd class="govuk-summary-list__value">{{ station.name }}</dd>
                        </div>
                        {% if station.latitude and station.longitude %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Location</dt>
                                <dd class="govuk-summary-list__value">
                                    <a href="https://maps.apple.com/?q={{ station.name|urlencode }}&ll={{ station.latitude }},{{ station.longitude }}">
                                        <code>{{ station.latitude }}, {{ station.longitude }}</code>
                                    </a>
                                </dd>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endwith %}
            </dl>
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Destination</dt>
        <dd class="govuk-summary-list__value">
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">NLC</dt>
                    <dd class="govuk-summary-list__value"><code>{{ data.destination_nlc }}</code></dd>
                </div>
                {% with station=data.destination_nlc|rsp_station_nlc %}
                    {% if station %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Name</dt>
                            <dd class="govuk-summary-list__value">{{ station.name }}</dd>
                        </div>
                        {% if station.latitude and station.longitude %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Location</dt>
                                <dd class="govuk-summary-list__value">
                                    <a href="https://maps.apple.com/?q={{ station.name|urlencode }}&ll={{ station.latitude }},{{ station.longitude }}">
                                        <code>{{ station.latitude }}, {{ station.longitude }}</code>
                                    </a>
                                </dd>
                            </div>
                        {% endif %}
                    {% else %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Name</dt>
                            <dd class="govuk-summary-list__value">{{ data.destination_nlc_name }}</dd>
                        </div>
                    {% endif %}
                {% endwith %}
            </dl>
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Fare</dt>
        <dd class="govuk-summary-list__value">
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Code</dt>
                    <dd class="govuk-summary-list__value"><code>{{ data.fare_label }}</code></dd>
                </div>
                {% with ticket_type=data.fare_label|rsp_ticket_type %}
                    {% if ticket_type %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Identifier</dt>
                            <dd class="govuk-summary-list__value"><code>{{ ticket_type.ticket_type_identifier }}</code>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Name</dt>
                            <dd class="govuk-summary-list__value">{{ ticket_type.ticket_type_name }}</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Compulsory reservations</dt>
                            <dd class="govuk-summary-list__value">{{ ticket_type.compulsory_reservations }}</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Validity - outward</dt>
                            <dd class="govuk-summary-list__value">
                                <h3 class="govuk-heading-s">Date</h3>
                                {{ ticket_type.validity.day_outward|safe }}
                                <h3 class="govuk-heading-s">Time</h3>
                                {{ ticket_type.validity.time_outward|safe }}
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Validity - return</dt>
                            <dd class="govuk-summary-list__value">
                                <h3 class="govuk-heading-s">Date</h3>
                                {{ ticket_type.validity.day_return|safe }}
                                <h3 class="govuk-heading-s">Time</h3>
                                {{ ticket_type.validity.time_return|safe }}
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Break of journey - outward</dt>
                            <dd class="govuk-summary-list__value">
                                {{ ticket_type.break_of_journey.outward_note|safe }}
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Break of journey - return</dt>
                            <dd class="govuk-summary-list__value">
                                {{ ticket_type.break_of_journey.return_note|safe }}
                            </dd>
                        </div>
                        {% if ticket_type.conditions %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Conditions</dt>
                                <dd class="govuk-summary-list__value">{{ ticket_type.conditions|safe }}</dd>
                            </div>
                        {% endif %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Changes to travel plans</dt>
                            <dd class="govuk-summary-list__value">{{ ticket_type.changes_to_travel_plans|safe }}</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Refunds</dt>
                            <dd class="govuk-summary-list__value">{{ ticket_type.refunds|safe }}</dd>
                        </div>
                    {% endif %}
                {% endwith %}
            </dl>
        </dd>
    </div>
    {% if data.restriction_code %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Restriction code</dt>
            <dd class="govuk-summary-list__value"><code>{{ data.restriction_code }}</code></dd>
        </div>
    {% endif %}
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Coupon type</dt>
        <dd class="govuk-summary-list__value"><code>{{ data.coupon_type }}</code></dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Discount code</dt>
        <dd class="govuk-summary-list__value"><code>{{ data.discount_code }}</code></dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Route code</dt>
        <dd class="govuk-summary-list__value"><code>{{ data.route_code }}</code></dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Passenger name</dt>
        <dd class="govuk-summary-list__value">{{ data.passenger_name }}</dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Departure time</dt>
        <dd class="govuk-summary-list__value">
            {{ data.start_date|date:"F d, Y H:i" }}
            {% if data.depart_time_flag == 2 %}(mandatory){% elif data.depart_time_flag == 3 %}(suggested){% endif %}
        </dd>
    </div>
    {% if data.reservations %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Reservations</dt>
            <dd class="govuk-summary-list__value">
                {% for reservation in data.reservations %}
                    <div class="govuk-summary-card">
                        <div class="govuk-summary-card__title-wrapper">
                            <h2 class="govuk-summary-card__title">
                                Reservation #{{ forloop.counter }}
                            </h2>
                        </div>
                        <div class="govuk-summary-card__content">
                            <dl class="govuk-summary-list">
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">Service</dt>
                                    <dd class="govuk-summary-list__value">{{ reservation.service_id }}</dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">Coach</dt>
                                    <dd class="govuk-summary-list__value">{{ reservation.coach }}</dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">Seat</dt>
                                    <dd class="govuk-summary-list__value">{{ reservation.seat }}</dd>
                                </div>
                            </dl>
                        </div>
                    </div>
                {% endfor %}
            </dd>
        </div>
    {% endif %}
    {% if data.purchase_data %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Purchase data</dt>
            <dd class="govuk-summary-list__value">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Purchased at</dt>
                        <dd class="govuk-summary-list__value">{{ data.purchase_data.purchase_date|date:"F d, Y H:i" }}</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Price</dt>
                        <dd class="govuk-summary-list__value">&pound;{{ data.purchase_data.price }}</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Purchase reference</dt>
                        <dd class="govuk-summary-list__value">{{ data.purchase_data.purchase_reference }}</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Days of validity</dt>
                        <dd class="govuk-summary-list__value">{{ data.purchase_data.days_of_validity }}</dd>
                    </div>
                </dl>
            </dd>
        </div>
    {% endif %}
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Sale</dt>
        <dd class="govuk-summary-list__value">
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">NLC</dt>
                    <dd class="govuk-summary-list__value"><code>{{ data.selling_nlc }}</code></dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Location name</dt>
                    <dd class="govuk-summary-list__value">{{ data.selling_nlc_name }}</dd>
                </div>
            </dl>
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Hash</dt>
        <dd class="govuk-summary-list__value"><code>{{ data.sha256_hash_hex }}</code></dd>
    </div>
</dl>